spring:
  application:
    name: sample02-relevancy-evaluator
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.0
      embedding:
        options:
          model: text-embedding-3-small

server:
  port: 8082

logging:
  level:
    org.springframework.ai: DEBUG
