spring:
  application:
    name: rag-basic-sample
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
      embedding:
        options:
          model: text-embedding-3-small
server:
  port: 10000
logging:
  level:
    org.springframework.ai: DEBUG
