spring:
  application:
    name: chatclient-fluent-api-sample
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.7

server:
  port: 9101

logging:
  level:
    org.springframework.ai: DEBUG
