spring:
  application:
    name: sample03-factchecking-evaluator
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.0

server:
  port: 8083

logging:
  level:
    org.springframework.ai: DEBUG
